.card {
  background-color: white;
  margin: 40px 0px;
  padding: 15px 0px;
  border-radius: 7px;
  box-shadow: 1px 1px 10px 1px rgba(95, 95, 95, 0.255);
  min-width: 350px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    color: rgb(204, 27, 27);
    margin-top: 15px;
    font-weight: bold;
    &.recovered {
      color: #23c989;
    }
  }
  h4 {
    margin-top: 15px;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgba(95, 95, 95, 0.412);
  }
}
